#log{
	background-color: green
}

#object{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	margin:  1px;
	padding: 1px;
}

#lengths{

}

#minmax{

}

#res{
	display: flex;
	flex-flow: row nowrap;
}

#settings{
	border: 1px solid;
	float: left;
	shape-outside: circle(150px at 50px 50px);
	background-color: green;
/*	width: 400px;
	height: 300px;*/
}